zend_extension=xdebug.so
xdebug.default_enable = {{ getenv "XDEBUB_ENABLED" "1" }}
xdebug.remote_connect_back = {{ getenv "XDEBUB_REMOTE_CONNECT_BACK" "1" }}
xdebug.remote_autostart = {{ getenv "XDEBUB_REMOTE_AUTOSTART" "1" }}
xdebug.remote_enable = {{ getenv "XDEBUB_REMOTE_ENABLE" "1" }}
xdebug.remote_port = {{ getenv "XDEBUB_REMOTE_PORT" "9000" }}
xdebug.remote_handler = dbgp
xdebug.max_nesting_level = {{ getenv "XDEBUB_MAX_NESTING_LEVEL" "500" }}
xdebug.idekey = {{ getenv "XDEBUG_IDEKEY" "PHPSTORM" }}
xdebug.profiler_enable_trigger = {{ getenv "XDEBUB_PROFILER_ENABLE_TRIGGER" "1" }}
xdebug.show_error_trace = {{ getenv "XDEBUB_SHOW_ERROR_TRACE" "1" }}
